<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(235, 228, 228);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(24, 15, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(88, 97, 126);
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  

  {% if session.logged_in %}
  <li><a href="/articles">Articles</a></li>
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/logout">Logout</a></li>
  
  
  {% else %}
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Sign-up</a></li>
  {% endif %}
  
  
</ul>

</body>
</html>
