<!DOCTYPE html>
<html>

    <head>
    <meta charset="UTF-8">
    <title>STORAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>

    <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        <div>
        <ul>{% include 'includes/_messages.html'%}</ul></div>
        {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>    
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/inline/ckeditor.js"></script>
    <script type="text/javascript">
    CKEDITOR.replace('yes')
    </script>

</body>

</html> 


